{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{%static 'AtlasGramApp/main.css' %}">
     <link rel="stylesheet" type="text/css" href="{%static 'AtlasGramApp/about_us.css' %}">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
         <header class="site-header">

          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
               <img  style="width:100px;height:57px; position:fixed; left:0px;" src="/media/butter.jpg" alt="">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'home' %}"><button style="font-size:20px">AtlasGram <i class=" fa fa-home"></i></button></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">

                  <a class="nav-item nav-link" href="{% url 'news' %}"><button style="font-size:15px">News <i class=" fa fa-line-chart"></i></button></a>
                  <a class="nav-item nav-link" href="{% url 'about' %}"><button style="font-size:15px">About <i class=" fa fa-file"></i></button></a>
                </div>

                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                         <a class="nav-item nav-link" href="{% url 'post-create' %}"><button style="font-size:15px">New_Pub <i class=" fa fa-plus"></i></button></a>
                         <a class="nav-item nav-link" href="{% url 'logout' %}"><button style="font-size:15px">Sign Out <i class=" fa fa-sign-out"></i></button></a>
                         <a class="nav-item nav-link" href="{% url 'profile' %}"><button style="font-size:15px">Profile <i class=" fa fa-user"></i></button></a>
                    {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}"><button style="font-size:15px">Sign In <i class=" fa fa-sign-in"></i></button></a>
                      <a class="nav-item nav-link" href="{% url 'register' %}"><button style="font-size:15px">Register <i class=" fa fa-registered"></i></button></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </header>
         <br>
         <br>
         <br>
         <br>

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} ">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              {% block content %}
                {% endblock %}
            </div>

            <div class="col-md-4">
              <div class="content-section">
                <h3>Shortcuts</h3>
                <p class='text-muted'>Easy access any information you want!
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="https://www.atlas.edu.tr/en/"> Unversity's WebPage </a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'calendar' %}">Calendars</a></li>
                     <li class="list-group-item list-group-item-light"><a href="{% url 'contact' %}">Contact with Us</a></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>



   `<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p style="color:#e6737e;" class="text-justify">ATLASGRAM IS <i>SOCIAL MEDIA APPLICATION</i> WHICH EVERY STUDENT IN ISTANBUL ATLAS UNVERSITY CAN POST THEIR IDEAS, SHARE THEIR OPINIONS, AND POST NEWS ABOUT THEIR DAILY LIFE WITHIN THEIR TEACHERS FRIENDS AND FAMILY</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Written in</h6>
            <ul class="footer-links">
              <li><a href="#">Python</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Bootstrap 4</a></li>
              <li><a href="#">Html</a></li>
              <li><a href="#">Css</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li > <a style="color:green;" href="{% url 'about' %}" >About Us </a></li>
              <li><a style="color:red;" href="{% url 'contact' %}" >Contact Us</a></li>
              <li><a target=”_blank”  style="color:yellow;" href="https://www.atlas.edu.tr/en/">Atlas</a></li>
              <li><a style="color:orange;" href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">

         <a href="{% url 'home' %}"><b style="color:red;"><b style="color:black;">Since &copy; 2021</b><b style="color:red;">Atlas</b><b style="color:blue;">Gram</b> </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-telegram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
</body>
</html>